<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Шоколад горький</string>
		<key>imageName</key>
		<string>bitter_chocolate.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>3</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Икра чёрная</string>
		<key>imageName</key>
		<string>black_caviar.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>8</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Перец красный молотый</string>
		<key>imageName</key>
		<string>ground_red_pepper.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>6</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Чай листовой</string>
		<key>imageName</key>
		<string>tea_leaf.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>6</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Чай в пакетиках</string>
		<key>imageName</key>
		<string>tea_bags.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>6</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Кофе</string>
		<key>imageName</key>
		<string>coffee.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>6</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Какао</string>
		<key>imageName</key>
		<string>cocoa.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Мука</string>
		<key>imageName</key>
		<string>flour.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Спагетти</string>
		<key>imageName</key>
		<string>pasta.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Сахар</string>
		<key>imageName</key>
		<string>sugar.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Орехи</string>
		<key>imageName</key>
		<string>nuts.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Шоколад молочный</string>
		<key>imageName</key>
		<string>milk_chocolate.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Печенье</string>
		<key>imageName</key>
		<string>cookies.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Мёд</string>
		<key>imageName</key>
		<string>honey.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>9</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Мармелад</string>
		<key>imageName</key>
		<string>marmalade.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>8</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Соль</string>
		<key>imageName</key>
		<string>salt.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>8</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Перец черный молотый</string>
		<key>imageName</key>
		<string>ground_black_pepper.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Уксус</string>
		<key>imageName</key>
		<string>vinegar.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Соевый соус</string>
		<key>imageName</key>
		<string>soy_sauce.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Майонез</string>
		<key>imageName</key>
		<string>mayonnaise.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Кетчуп</string>
		<key>imageName</key>
		<string>ketchup.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Горчица</string>
		<key>imageName</key>
		<string>mustard.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Подсолнечное масло</string>
		<key>imageName</key>
		<string>sunflower_oil.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>7</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Оливковое масло</string>
		<key>imageName</key>
		<string>olive_oil.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Молоко</string>
		<key>imageName</key>
		<string>milk.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Соевое молоко</string>
		<key>imageName</key>
		<string>soy_milk.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Ряженка</string>
		<key>imageName</key>
		<string>ryazhenka.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Яйца перепелиные </string>
		<key>imageName</key>
		<string>quail_eggs.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Яйца</string>
		<key>imageName</key>
		<string>eggs.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Йогурт</string>
		<key>imageName</key>
		<string>yogurt.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Масло сливочное</string>
		<key>imageName</key>
		<string>butter.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>мл.</string>
		<key>name</key>
		<string>Кефир</string>
		<key>imageName</key>
		<string>kefir.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>4</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Сыр</string>
		<key>imageName</key>
		<string>cheese.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Бублики</string>
		<key>imageName</key>
		<string>bagel.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Хлеб черный</string>
		<key>imageName</key>
		<string>black_bread.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Хлеб белый</string>
		<key>imageName</key>
		<string>white_bread.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>5</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Багет</string>
		<key>imageName</key>
		<string>baguette.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>3</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Лосось</string>
		<key>imageName</key>
		<string>salmon.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>3</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Сельдь</string>
		<key>imageName</key>
		<string>herring.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>3</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Креветки</string>
		<key>imageName</key>
		<string>shrimp.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>3</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Икра красная</string>
		<key>imageName</key>
		<string>red_caviar.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Фарш говяжий</string>
		<key>imageName</key>
		<string>minced.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Говяжье мясо</string>
		<key>imageName</key>
		<string>beef_meat.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Курица</string>
		<key>imageName</key>
		<string>hen.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>chicken_wings.png</string>
		<key>name</key>
		<string>Куриные крылышки</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>chicken_drumstick.png</string>
		<key>name</key>
		<string>Куриная голень</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>sosiski.png</string>
		<key>name</key>
		<string>Сосиски</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>sausage.png</string>
		<key>name</key>
		<string>Сардельки</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>imageName</key>
		<string>doctor_sausage.png</string>
		<key>name</key>
		<string>Колбаса докторская</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>imageName</key>
		<string>smoked_sausage.png</string>
		<key>name</key>
		<string>Колбаса копченая</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>imageName</key>
		<string>ham.png</string>
		<key>name</key>
		<string>Ветчина</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>imageName</key>
		<string>bacon.png</string>
		<key>name</key>
		<string>Бекон</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>2</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>imageName</key>
		<string>pork.png</string>
		<key>name</key>
		<string>Свинина</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>green_hot_pepper.png</string>
		<key>name</key>
		<string>Острый зеленый перец</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>red_hot_pepper.png</string>
		<key>name</key>
		<string>Острый красный перец</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>imageName</key>
		<string>red_cabbage.png</string>
		<key>name</key>
		<string>Капуста краснокочанная</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Брокколи</string>
		<key>imageName</key>
		<string>broccoli.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Цветная капуста</string>
		<key>imageName</key>
		<string>cauliflower.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Укроп</string>
		<key>imageName</key>
		<string>dill.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Петрушка</string>
		<key>imageName</key>
		<string>parsley.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Зеленый перец</string>
		<key>imageName</key>
		<string>green_pepper.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Желтый перец</string>
		<key>imageName</key>
		<string>yellow_pepper.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Красный перец</string>
		<key>imageName</key>
		<string>red_pepper.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Салат</string>
		<key>imageName</key>
		<string>salad.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Желтый лук</string>
		<key>imageName</key>
		<string>yellow_onion.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Кабачок</string>
		<key>imageName</key>
		<string>zucchini.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Белый редис</string>
		<key>imageName</key>
		<string>white_radish.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Помидоры</string>
		<key>imageName</key>
		<string>tomato.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Зеленый лук</string>
		<key>imageName</key>
		<string>spring_onion.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Красный лук</string>
		<key>imageName</key>
		<string>red_onion.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Редис</string>
		<key>imageName</key>
		<string>radish.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Тыква</string>
		<key>imageName</key>
		<string>pumpkin.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Картофель</string>
		<key>imageName</key>
		<string>potato.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Горох</string>
		<key>imageName</key>
		<string>peas.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Грибы</string>
		<key>imageName</key>
		<string>mushrooms.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Лук-порей</string>
		<key>imageName</key>
		<string>leek.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Чеснок</string>
		<key>imageName</key>
		<string>garlic.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Спаржа</string>
		<key>imageName</key>
		<string>asparagus.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Баклажан</string>
		<key>imageName</key>
		<string>aubergine.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Огурец</string>
		<key>imageName</key>
		<string>cucumber.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>шт.</string>
		<key>name</key>
		<string>Кукуруза</string>
		<key>imageName</key>
		<string>corn.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Свёкла</string>
		<key>imageName</key>
		<string>beet.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Сельдерей</string>
		<key>imageName</key>
		<string>celery.png</string>
	</dict>
	<dict>
		<key>foodCategoryId</key>
		<integer>1</integer>
		<key>quantityType</key>
		<string>гр.</string>
		<key>name</key>
		<string>Артишок</string>
		<key>imageName</key>
		<string>artichoke.png</string>
	</dict>
</array>
</plist>
